@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: 220 23.08% 94.90%;
  --foreground: 234 16.02% 35.49%;
  --card: 220 23.08% 94.90%;
  --card-foreground: 234 16.02% 35.49%;
  --popover: 220 23.08% 94.90%;
  --popover-foreground: 234 16.02% 35.49%;
  --primary: 220 91.49% 53.92%;
  --primary-foreground: 220 23.08% 94.90%;
  --secondary: 223 15.91% 82.75%;
  --secondary-foreground: 234 16.02% 35.49%;
  --muted: 223 15.91% 82.75%;
  --muted-foreground: 233 12.80% 41.37%;
  --accent: 223 15.91% 82.75%;
  --accent-foreground: 234 16.02% 35.49%;
  --destructive: 347 86.67% 44.12%;
  --border: 225 13.56% 76.86%;
  --input: 225 13.56% 76.86%;
  --ring: 234 16.02% 35.49%;
  --chart-1: 345 57.65% 74.12%;
  --chart-2: 185 37.25% 70.59%;
  --chart-3: 219 81.96% 78.43%;
  --chart-4: 35 61.18% 76.86%;
  --chart-5: 113 32.94% 73.33%;
  --sidebar: 218 25.10% 93.73%;
  --sidebar-foreground: 234 16.02% 35.49%;
  --sidebar-primary: 220 91.49% 53.92%;
  --sidebar-primary-foreground: 220 23.08% 94.90%;
  --sidebar-accent: 220 23.08% 94.90%;
  --sidebar-accent-foreground: 234 16.02% 35.49%;
  --sidebar-border: 225 13.56% 76.86%;
  --sidebar-ring: 225 13.56% 76.86%;
}

.dark {
  --background: 240 21.05% 14.90%;
  --foreground: 226 63.93% 88.04%;
  --card: 240 21.05% 14.90%;
  --card-foreground: 226 63.93% 88.04%;
  --popover: 240 21.05% 14.90%;
  --popover-foreground: 226 63.93% 88.04%;
  --primary: 217 91.87% 75.88%;
  --primary-foreground: 240 21.05% 14.90%;
  --secondary: 237 16.24% 22.94%;
  --secondary-foreground: 226 63.93% 88.04%;
  --muted: 237 16.24% 22.94%;
  --muted-foreground: 227 35.29% 80.00%;
  --accent: 237 16.24% 22.94%;
  --accent-foreground: 226 63.93% 88.04%;
  --destructive: 343 81.25% 74.90%;
  --border: 234 13.21% 31.18%;
  --input: 234 13.21% 31.18%;
  --ring: 226 63.93% 88.04%;
  --chart-1: 329 21.57% 37.25%;
  --chart-2: 188 18.82% 37.25%;
  --chart-3: 221 27.45% 39.61%;
  --chart-4: 30 9.41% 42.35%;
  --chart-5: 139 12.94% 38.04%;
  --sidebar: 240 21.18% 14.12%;
  --sidebar-foreground: 226 63.93% 88.04%;
  --sidebar-primary: 217 91.87% 75.88%;
  --sidebar-primary-foreground: 240 21.05% 14.90%;
  --sidebar-accent: 240 21.05% 14.90%;
  --sidebar-accent-foreground: 226 63.93% 88.04%;
  --sidebar-border: 234 13.21% 31.18%;
  --sidebar-ring: 234 13.21% 31.18%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
